---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <div class="home">
    <h1 class="name">
      Alazar <span class="primary-color">Lema</span>
    </h1>
    <h3 class="job">Frontend Developer</h3>
    <a class="contactBtn" href="/Contact">Get in Touch</a>
  </div>
</MainLayout>

<style>
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: calc(100vh - 54px);
  }

  .name {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: center;
    font-family: Poppins;
    text-transform: uppercase;
    color: white;
  }

  .job {
    color: #a2a2a2;
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 50px;
    text-align: center;
  }

  .contactBtn {
    background-color: rgb(var(--primary-color));
    border-radius: 50px;
    display: inline-block;
    letter-spacing: 0.2px;
    padding: 8px 40px;
    line-height: 24px;
    text-align: center;
    font-family: Poppins;
    color: white;
    text-decoration: none;
  }

  .contactBtn:hover {
    color: black;
    background-color: white;
  }
</style>
