---
import MainLayout from "../layouts/MainLayout.astro";
import rightArrow from "../Icons/right-arrow.png";
import MySwiper from "../components/MySwiper";
---

<MainLayout title="Portfolio">
  <section class="center">
    <div class="project">
      <div class="breadcrumb">
        <div class="list">
          <a href="/">Home</a>
          <img src={rightArrow} width="9px" />
          <p>Portfolio</p>
        </div>
      </div>
      <div class="lowerBorder">
        <h3>Portfolio</h3>
      </div>
      <MySwiper client:load />
    </div>
  </section>
</MainLayout>

<style>
  .lowerBorder {
    height: 50px;
    margin-top: 15px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #a2a2a2;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .project {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 900px;
    height: 723px;
    padding-left: 15px;
    padding-top: 60px;
  }

  .list {
    display: inline-block;
    background-color: #222222;
    border-radius: 5px;
    padding: 5px 20px;
    letter-spacing: 0.2px;
    line-height: 27.2px;
  }
  .list p {
    display: inline;
    color: #a2a2a2;
  }
  .list a {
    color: white;
    text-decoration: none;
  }

  h3 {
    color: white;
    font-family: Poppins;
    font-weight: 700;
    line-height: 39px;
    font-size: 30px;
  }
</style>
