---
import icon from "../Icons/letter-a.png";
---

<nav>
  <div class="navbar">
    <a href="/"><img src={icon} width="40px" /></a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/About">About</a></li>
      <li><a href="/Projects">Projects</a></li>
      <li><a href="/Contact">Contact</a></li>
    </ul>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
  }
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50%);
    top: 40px;
  }

  ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    font-size: 23px;
  }

  li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }

  li a:hover {
    color: rgb(var(--primary-color));
  }

  li a:active {
    color: rgb(var(--primary-color));
  }
</style>
