---
import Nav from "../components/Nav.astro";
import Background from "../components/Background.astro";
import Cursor from "../components/Cursor.astro";
import "../styles/global.css";
import icon from "../Icons/letter-a.png";
const { title = "Default title" } = Astro.props;
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="icon" href={icon} sizes="any" />
    <title>{title}</title>
  </head>
  <body>
    <Cursor />
    <Nav />
    <slot />
    <Background />
  </body>
</html>

<style></style>
